---
import { svgList } from '@/constants/svgStore'
import Svg from '@/components/essentials/Svg.svelte'
import Layout from '@/layouts/Layout.astro'
---

<style lang="scss">
  h1 {
    text-align: center;
    font-size: 50px;
    padding: 70px 0;
    font-weight: bold;
  }

  h5 {
    padding: 40px;
  }

  .g-wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 30px;

    .svg {
      transition: 0.3s ease;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      border: 5px solid transparent;
      width: 150px;
      padding: 20px;
      gap: 10px;
      border-radius: 20px;
      box-shadow: 5px 5px 10px 0 rgba(0, 0, 0, 0.2);
      h2 {
        color: var(--colorText2);
      }

      &:hover {
        transition: 0.3s ease;
        cursor: pointer;
        background-color: var(--colorBackground);
        transform: scale(0.9);
      }
    }
  }
</style>

<Layout title="SVG Factory">
  <a href="/private">
    <h1>SVG FACTORY</h1>
  </a>
  <div class="svgs g-wrapper">
    {
      svgList.map((name) => (
        <div class="svg" meta-name={name}>
          <Svg name={name} width="50" height="50" />
          <h2>{name}</h2>
        </div>
      ))
    }
  </div>
  <h5 class="g-wrapper">import Svg from '@/components/essentials/Svg.svelte'</h5>
</Layout>

<script>
  const svgs = document.querySelectorAll('.svg')

  for (let svg of svgs) {
    svg.addEventListener('click', async (event: any) => {
      const div = event.target.closest('.svg')
      const name = div.getAttribute('meta-name')
      await navigator.clipboard.writeText(`<Svg name="${name}" />`)
      div.style.border = '5px solid #91ffaf'

      setTimeout(() => (div.style.border = '5px solid transparent'), 500)
    })
  }
</script>
